//
//  Debug.xcconfig
//  FindMyRoute-Demo
//
//  Created by Saul Moreno Abril on 1/9/20.
//  Copyright © 2020 Saul Moreno Abril. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-FindMyRoute-Demo/Pods-FindMyRoute-Demo.debug.xcconfig"

// Base URL
MEEP_BASE_URL = https:/$()/apidev.meep.me/tripplan/api/v1/

// Google
GOOGLE_MAPS_API_KEY = AIzaSyA6g-8ORnXzpTTwT9wncgRd4z6H9lszxkM

// App Settings
APP_NAME = Find My Route (dev)
